# ASSIGNMENT-1

# WEB SCRAPPING

In [1]:
#Write a python program to display all the header tags from wikipedia.org.
from bs4 import BeautifulSoup
import requests
import pandas as pd

def wikipedia(url):
    #creating request object
    pageli=requests.get(url)
    
    #creating soup object
    soup=BeautifulSoup(pageli.content)
    
    # list with header tags
    list=['h1','h2','h3']
    
    # get header tag details
    li=[]
    for i in soup.find_all(list):
        li.append(i.text.strip())
    # dataframe with header tag details
    df=pd.DataFrame(li,columns=['Header Tags'])
    return df
    
wikipedia("https://en.wikipedia.org/wiki/Main_Page")

                      Header Tags
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                 Personal tools
12                     Namespaces
13                          Views
14                     Navigation
15                     Contribute
16                          Tools
17                   Print/export
18              In other projects
19                      Languages

In [2]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

from bs4 import BeautifulSoup
import requests
import pandas as pd

def imdbtop100(url):
    #creating request object
    movielink=requests.get(url)
    
    #creating soup object
    soup=BeautifulSoup(movielink.content)
    
    # Get name details
    titles=[]
    arr=[]
    kk=0
    for i in soup.find_all('h3',class_="lister-item-header"):
        titles.append(i.text.strip())
        ts=titles[kk].split()
        td=ts[1:-1]
        tf=" ".join(td)
        arr.append(tf)
        kk=kk+1
    
    # get year of release details
    year=[]
    for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
        year.append(i.text[1:-1])
    
    # get rating details
    rating=[]
    for j in soup.find_all('div',class_="ipl-rating-star small"):
        rating.append(j.text.strip())
    
    # dataframe with all details
    df=pd.DataFrame({"name":arr,"rating":rating,"year of release":year})
    return df

imdbtop100("https://www.imdb.com/list/ls091520106/")

                                   name rating year of release
0              The Shawshank Redemption    9.3            1994
1                         The Godfather    9.2            1972
2                 The Godfather Part II      9            1974
3                       The Dark Knight      9            2008
4                          12 Angry Men      9            1957
..                                  ...    ...             ...
95                   North by Northwest    8.3            1959
96                   A Clockwork Orange    8.3            1971
97                               Snatch    8.2            2000
98  Le fabuleux destin d'Amélie Poulain    8.3            2001
99                              The Kid    8.3            1921

[100 rows x 3 columns]

In [3]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

from bs4 import BeautifulSoup
import requests
import pandas as pd

def imdbtop100IM(url):
    
    #creating request object
    movielink=requests.get(url)
    
    #creating soup object
    soup=BeautifulSoup(movielink.content)
    
    # get name details
    titles=[]
    arr=[]
    kk=0
    for i in soup.find_all('td',class_="titleColumn"):
        titles.append(i.text.strip())
        ts=titles[kk].split()
        td=ts[1:-1]
        tf=" ".join(td)
        arr.append(tf)
        kk=kk+1
        if(kk==100):
            break
    # print(len(arr))
    
    # get year of release details
    year=[]
    kk=0
    for i in soup.find_all('span',class_="secondaryInfo"):
        year.append(i.text[1:-1])
        kk=kk+1
        if(kk==100):
            break
        # print(len(year))
    
    #get rating details
    rating=[]
    kk=0
    for j in soup.find_all('td',class_="ratingColumn imdbRating"):
        rating.append(j.text.strip())
        kk=kk+1
        if(kk==100):
            break
        # print(len(rating))
    # dataframe with all details
    df=pd.DataFrame({"name":arr,"rating":rating,"year of release":year})
    return df

imdbtop100IM("https://www.imdb.com/india/top-rated-indian-movies/")

                                   name rating year of release
0   Ramayana: The Legend of Prince Rama    8.5            1993
1            Rocketry: The Nambi Effect    8.4            2022
2                               Golmaal    8.4            1979
3                           777 Charlie    8.4            2022
4                               Nayakan    8.4            1987
..                                  ...    ...             ...
95                       Kaakkaa Muttai    8.0            2014
96                          Ustad Hotel    8.0            2012
97             Theeran Adhigaaram Ondru    8.0            2017
98                               Angoor    8.0            1982
99                      Rang De Basanti    8.0            2006

[100 rows x 3 columns]

In [4]:
#Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
#from https://presidentofindia.nic.in/former-presidents.htm

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def profIND(url):
    #creating request object
    presdlink=requests.get(url)
    
    #creating soup object
    soup=BeautifulSoup(presdlink.content)
    
    # Scrapping names
    titles=[]
    arr=[]
    kk=0
    for i in soup.find_all('h3'):
        titles.append(i.text.strip())
        ts=titles[kk].split("(")
        td=ts[0:-1]
        tf=" ".join(td)
        arr.append(tf)
        kk=kk+1
    
    # Scrapping terms of office
    Troffice=[]
    for i in soup.find_all('p'):
        Troffice.append(i.text)
    #print(Troffice)
    result_1 = [item.split(':') for item in Troffice]
    result_2 = [item for l in result_1 for item in l]
    result_3=[item.strip(" ") for item in result_2]
    result_4=[item.split(" ") for item in result_3]
    result_5=[item for item in result_4 if len(item)==7 or len(item)==15 ]
    Troffice=[]
    for i in result_5:
        result_6=" ".join(i)
        Troffice.append(result_6)
    # print(len(Troffice))
    # print(len(arr))
    
    # dataframe with all details
    df=pd.DataFrame({'PresidentiaL List':arr,'Term of office':Troffice})
    return df

profIND("https://presidentofindia.nic.in/former-presidents.htm")

,PresidentiaL List,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [5]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def topodimpr(url):
    
    #creating request object
    womelink=requests.get(url)
    
    #creating soup object
    soup=BeautifulSoup(womelink.content)
    
    # scrapping rank details
    kk=0
    Rank=[]
    RR=soup.find('td',class_="rankings-block__banner--pos")
    Rank.append(RR.text)
    for i in soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right"):
        Rank.append(i.text)
        kk=kk+1
        if(kk==9):
            break
            
    # scrapping country details
    kk=0
    country=[]
    for i in soup.find_all('span',class_="u-hide-phablet"):
        country.append(i.text)
        kk=kk+1
        if(kk==10):
            break
    
    # scrapping matches details
    kk=0
    matches=[]
    mm=soup.find('td',class_="rankings-block__banner--matches")
    matches.append(mm.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):
        if(kk%2==0):
            matches.append(i.text)
        kk=kk+1
        if(kk==18):
            break
    
    # scrapping points details
    kk=0
    points=[]
    pp=soup.find('td',class_="rankings-block__banner--points")
    points.append(pp.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):
        if(kk%2!=0):
            points.append(i.text)
        kk=kk+1
        if(kk==18):
            break
    
    # scrapping rating details
    kk=0
    Rating=[]
    rr=soup.find('td',class_="rankings-block__banner--rating u-text-right")
    Rating.append(rr.text.strip())
    for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
        Rating.append(i.text)
        kk=kk+1
        if(kk==9):
            break
    
    # dataframe with all details
    df=pd.DataFrame({'Rank':Rank,'Country':country,'Matches':matches,'Points':points, 'Rating':Rating})
    return df

topodimpr("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

  Rank       Country Matches Points Rating
0    1   New Zealand      23  2,670    116
1    2       England      30  3,400    113
2    3     Australia      32  3,572    112
3    4         India      35  3,866    110
4    5      Pakistan      22  2,354    107
5    6  South Africa      24  2,392    100
6    7    Bangladesh      30  2,753     92
7    8     Sri Lanka      30  2,677     89
8    9   Afghanistan      19  1,380     73
9   10   West Indies      41  2,902     71

In [6]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 ODI Batsmen along with the records of their team and rating.
#https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

from bs4 import BeautifulSoup
import requests
import pandas as pd

def topoditr(url):

    # creating requests object
    womelink=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(womelink.content)

    # scrapping rank details
    kk=0
    Rank=[]
    RR=soup.find('span',class_="rankings-block__pos-number")
    Rank.append(RR.text.strip())
    for i in soup.find_all('span',class_="rankings-table__pos-number"):
        Rank.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping player name details
    kk=0
    Name=[]
    nn=soup.find('div',class_="rankings-block__banner--name-large")
    Name.append(nn.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        Name.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping country details
    kk=0
    Country=[]
    cc=soup.find('div',class_="rankings-block__banner--nationality")
    Country.append(cc.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"):
        Country.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # scrapping rating details
    kk=0
    Score=[]
    rt=soup.find('div',class_="rankings-block__banner--rating")
    Score.append(rt.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rating"):
        Score.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    #dataframe with all the details
    df=pd.DataFrame({'Rank':Rank,'Player Name':Name,'Country':Country,'Rating':Score})
    return df

topoditr("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

  Rank            Player Name Country Rating
0    1             Babar Azam     PAK    890
1    2            Imam-ul-Haq     PAK    779
2    3  Rassie van der Dussen      SA    766
3    4        Quinton de Kock      SA    759
4    5           David Warner     AUS    747
5    6            Steve Smith     AUS    719
6    7         Jonny Bairstow     ENG    710
7    8            Virat Kohli     IND    707
8    9           Rohit Sharma     IND    704
9   10        Kane Williamson      NZ    701

In [7]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 ODI bowlers along with the records of their team and rating.
#https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

from bs4 import BeautifulSoup
import requests
import pandas as pd

def topodibtr(url):

    #creating requests object
    womelink=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(womelink.content)

    # scrapping rank details
    kk=0
    Rank=[]
    RR=soup.find('span',class_="rankings-block__pos-number")
    Rank.append(RR.text.strip())
    for i in soup.find_all('span',class_="rankings-table__pos-number"):
        Rank.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping player name details
    kk=0
    Name=[]
    nn=soup.find('div',class_="rankings-block__banner--name-large")
    Name.append(nn.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        Name.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # scrapping country details
    kk=0
    Country=[]
    cc=soup.find('div',class_="rankings-block__banner--nationality")
    Country.append(cc.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"):
        Country.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping rating details
    kk=0
    Score=[]
    rt=soup.find('div',class_="rankings-block__banner--rating")
    Score.append(rt.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rating"):
        Score.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # dataframe with all details
    df=pd.DataFrame({'Rank':Rank,'Player Name':Name,'Country':Country,'Rating':Score})
    return df

topodibtr("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

  Rank        Player Name Country Rating
0    1        Trent Boult      NZ    760
1    2     Josh Hazlewood     AUS    727
2    3     Mitchell Starc     AUS    665
3    4     Shaheen Afridi     PAK    661
4    5         Matt Henry      NZ    656
5    6         Adam Zampa     AUS    655
6    7       Mehedi Hasan     BAN    655
7    8   Mujeeb Ur Rahman     AFG    650
8    9  Mustafizur Rahman     BAN    640
9   10        Rashid Khan     AFG    635

In [8]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#https://www.icc-cricket.com/rankings/womens/team-rankings/odi

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def topwmpr(url):

    # creating requests object
    womelink=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(womelink.content)

    # scrapping Rank details
    kk=0
    Rank=[]
    RR=soup.find('td',class_="rankings-block__banner--pos")
    Rank.append(RR.text)
    for i in soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right"):
        Rank.append(i.text)
        kk=kk+1
        if(kk==9):
            break

    # scrapping country details
    kk=0
    country=[]
    for i in soup.find_all('span',class_="u-hide-phablet"):
        country.append(i.text)
        kk=kk+1
        if(kk==10):
            break

    # scrapping matches details
    kk=0
    matches=[]
    mm=soup.find('td',class_="rankings-block__banner--matches")
    matches.append(mm.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):
        if(kk%2==0):
            matches.append(i.text)
        kk=kk+1
        if(kk==18):
            break
        
    # scrapping points details
    kk=0
    points=[]
    pp=soup.find('td',class_="rankings-block__banner--points")
    points.append(pp.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):
        if(kk%2!=0):
            points.append(i.text)
        kk=kk+1
        if(kk==18):
            break

    # scrapping rating details
    kk=0
    Rating=[]
    rr=soup.find('td',class_="rankings-block__banner--rating u-text-right")
    Rating.append(rr.text.strip())
    for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
        Rating.append(i.text)
        kk=kk+1
        if(kk==9):
            break

    # dataframe with all details
    df=pd.DataFrame({'Rank':Rank,'Country':country,'Matches':matches,'Points':points, 'Rating':Rating})
    return df

topwmpr("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

  Rank       Country Matches Points Rating
0    1     Australia      18  3,061    170
1    2  South Africa      26  3,098    119
2    3       England      25  2,904    116
3    4         India      27  2,820    104
4    5   New Zealand      24  2,425    101
5    6   West Indies      24  2,334     97
6    7    Bangladesh      12    932     78
7    8      Thailand       8    572     72
8    9      Pakistan      24  1,519     63
9   10     Sri Lanka       8    353     44

In [9]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

from bs4 import BeautifulSoup
import requests
import pandas as pd

def topodiwtr(url):
    
    # creating requests object
    womelink=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(womelink.content)

    # scrapping rank details
    kk=0
    Rank=[]
    RR=soup.find('span',class_="rankings-block__pos-number")
    Rank.append(RR.text.strip())
    for i in soup.find_all('span',class_="rankings-table__pos-number"):
        Rank.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping player name details
    kk=0
    Name=[]
    nn=soup.find('div',class_="rankings-block__banner--name-large")
    Name.append(nn.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        Name.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # scrapping country details
    kk=0
    Country=[]
    cc=soup.find('div',class_="rankings-block__banner--nationality")
    Country.append(cc.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"):
        Country.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping rating details
    kk=0
    Score=[]
    rt=soup.find('div',class_="rankings-block__banner--rating")
    Score.append(rt.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rating"):
        Score.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # dataframe with all details
    df=pd.DataFrame({'Rank':Rank,'Player Name':Name,'Country':Country,'Rating':Score})
    return df

topodiwtr("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

  Rank          Player Name Country Rating
0    1         Alyssa Healy     AUS    785
1    2          Beth Mooney     AUS    749
2    3      Laura Wolvaardt      SA    732
3    4       Natalie Sciver     ENG    725
4    5     Harmanpreet Kaur     IND    716
5    6      Smriti Mandhana     IND    714
6    7          Meg Lanning     AUS    710
7    8       Rachael Haynes     AUS    701
8    9    Amy Satterthwaite      NZ    661
9   10  Chamari Athapaththu      SL    655

In [10]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

from bs4 import BeautifulSoup
import requests
import pandas as pd

def topodiwtra(url):

    # crating requests object
    womelink=requests.get(url)

    #creating soup object
    soup=BeautifulSoup(womelink.content)

    # scrapping rank details
    kk=0
    Rank=[]
    RR=soup.find('span',class_="rankings-block__pos-number")
    Rank.append(RR.text.strip())
    for i in soup.find_all('span',class_="rankings-table__pos-number"):
        Rank.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping player name details
    kk=0
    Name=[]
    nn=soup.find('div',class_="rankings-block__banner--name-large")
    Name.append(nn.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        Name.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping country details
    kk=0
    Country=[]
    cc=soup.find('div',class_="rankings-block__banner--nationality")
    Country.append(cc.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"):
        Country.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break
        
    # scrapping rating details
    kk=0
    Score=[]
    rt=soup.find('div',class_="rankings-block__banner--rating")
    Score.append(rt.text.strip())
    for i in soup.find_all('td',class_="table-body__cell rating"):
        Score.append(i.text.strip())
        kk=kk+1
        if(kk==9):
            break

    # dataframe with all details
    df=pd.DataFrame({'Rank':Rank,'Player Name':Name,'Country':Country,'Rating':Score})
    return df

topodiwtra("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

  Rank       Player Name Country Rating
0    1   Hayley Matthews      WI    380
1    2      Ellyse Perry     AUS    374
2    3    Natalie Sciver     ENG    357
3    4       Amelia Kerr      NZ    356
4    5    Marizanne Kapp      SA    349
5    6     Deepti Sharma     IND    322
6    7  Ashleigh Gardner     AUS    270
7    8     Jess Jonassen     AUS    246
8    9    Jhulan Goswami     IND    214
9   10   Katherine Brunt     ENG    207

In [11]:
# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i)Headline
# ii) Time
# iii) News Link

from bs4 import BeautifulSoup
import requests
import pandas as pd

def cnbchtn(url):

    # creating requests object
    url1=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(url1.content)

    # scrapping headline details
    Headline=[]
    for i in soup.find_all('a',class_="LatestNews-headline"):
        Headline.append(i.text.strip())

    # scrapping time details
    Time=[]
    for i in soup.find_all('time',class_="LatestNews-timestamp"):
        Time.append(i.text.strip())

    # scrapping newslink details
    News_Link=[]    
    tot_data = soup.find_all('li', {'class':"LatestNews-item"})
    for sub_data in tot_data:
        attr_tags = sub_data.find_all('a', href=True) #  Find all <a> tags that have a href attribute
        for tag in attr_tags:
            Newslink=tag['href']
        News_Link.append(Newslink)

    # dataframe with all details
    df=pd.DataFrame({'Headline':Headline,'Time':Time,'News_Link':News_Link})
    return df

cnbchtn("https://www.cnbc.com/world/")

,Headline,Time,News_Link
0,Manufacturing orders from China down 40% in de...,4 Min Ago,https://www.cnbc.com/2022/12/04/manufacturing-...
1,Death of the internal combustion engine — Cowe...,37 Min Ago,https://www.cnbc.com/2022/12/04/death-of-the-i...
2,"These stocks are cheap heading into 2023, and ...",42 Min Ago,https://www.cnbc.com/2022/12/04/these-stocks-a...
3,Who will be Disney's next CEO? Here are the to...,55 Min Ago,https://www.cnbc.com/2022/12/04/disney-ceo-top...
4,Study: exercise may increase the effectiveness...,55 Min Ago,https://www.cnbc.com/2022/12/04/study-exercise...
5,OPEC+ agrees to stick to its existing policy o...,1 Hour Ago,https://www.cnbc.com/2022/12/04/opec-meeting-o...
6,Parking lots are becoming as important as cars...,22 Hours Ago,https://www.cnbc.com/2022/12/03/parking-lots-b...
7,Amazon's cloud unit faces cost-sensitive custo...,23 Hours Ago,https://www.cnbc.com/2022/12/03/aws-faces-cost...
8,Don’t overlook this health warning on your dec...,23 Hours Ago,https://www.cnbc.com/2022/12/03/dont-overlook-...
9,How electric air taxis could shake up the airl...,23 Hours Ago,https://www.cnbc.com/2022/12/03/how-electric-a...
10,I raised 2 successful CEOs and a doctor. Here'...,23 Hours Ago,https://www.cnbc.com/2022/12/03/i-raised-2-suc...
11,Delta pilots would get more than 30% in pay ra...,23 Hours Ago,https://www.cnbc.com/2022/12/03/delta-pilots-w...
12,Men participate less in 401(k) plans than wome...,24 Hours Ago,https://www.cnbc.com/2022/12/03/men-participat...
13,The best U.S. states to raise a family if you ...,24 Hours Ago,https://www.cnbc.com/2022/12/03/best-states-ra...
14,Susan Cain: This Bob Dylan-inspired phrase can...,24 Hours Ago,https://www.cnbc.com/2022/12/03/bestselling-au...
15,The difference between this comeback and the m...,"December 3, 2022",https://www.cnbc.com/2022/12/03/the-difference...
16,Goldman says buy these five stocks for the lon...,"December 3, 2022",https://www.cnbc.com/2022/12/03/goldman-says-b...
17,Celsius users with crypto collateral stuck tur...,"December 3, 2022",https://www.cnbc.com/2022/12/03/celsius-users-...
18,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
19,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
20,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
21,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
22,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
23,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
24,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
25,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...
26,"These beat-up tech stocks have potential, ‘Hal...","December 2, 2022",https://www.cnbc.com/2022/12/02/big-tech-stock...
27,The Fed's path to a 'Goldilocks' economy just ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-feds-path-...
28,3 things crypto investors need to know in post...,"December 2, 2022",https://www.cnbc.com/2022/12/02/three-things-c...
29,Biden condemns antisemitism as Ye praises Hitl...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-condemns...

In [12]:
#Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title 
# ii) Authors
# iii) Published Date 
# iv) Paper URL

from bs4 import BeautifulSoup
import requests
import pandas as pd

def aiarticles(url):
    
    # creating requests object
    url1=requests.get(url)

    # creating soup object
    soup=BeautifulSoup(url1.content)

    # scrapping paper titles
    Title=[]
    for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
        Title.append(i.text.strip())

    # scrapping author details
    Author=[]
    for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
        Author.append(i.text.strip())

    # scrapping published date details
    PDate=[]
    for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
        PDate.append(i.text.strip())

    # scrapping Paper URL details
    Paper_URL=[]    
    tot_data = soup.find_all('li', {'class':"sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"})
    for data1 in tot_data:
        att_tags = data1.find_all('a', href=True) #  Find all <a> tags that have a href attr
        for tag in att_tags:
            Plink=tag['href']
        Paper_URL.append(Plink)
    
    # Dataframe with all details
    df=pd.DataFrame({'Paper Title':Title,'Author':Author,'Published Date':PDate,'Paper URL':Paper_URL})
    return df

aiarticles("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

,Paper Title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [13]:
# Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location 
# iv) Ratings
# v) Image URL

from bs4 import BeautifulSoup
import requests
import pandas as pd

def dineout(url):

    # creating request object
    url1=requests.get(url)

    #creating soup object
    soup=BeautifulSoup(url1.content)

    # scrap restuarant details
    RName=[]
    for i in soup.find_all('a',class_="restnt-name ellipsis"):
        RName.append(i.text.strip())

    # scrap cuisine details
    Cuisine0=[]
    for i in soup.find_all('span',class_="double-line-ellipsis"):
        Cuisine0.append(i.text.strip())
    result_1 = [item.split('|') for item in Cuisine0]
    result_2 = [item for l in result_1 for item in l]
    result_3=[item.strip(" ") for item in result_2]
    Cuisine=[]
    kk=0
    for item in result_3:
        if(kk%2!=0):
            Cuisine.append(item)
        kk=kk+1

    # scrap location details
    Location=[]
    for i in soup.find_all('div',class_="restnt-loc ellipsis"):
        Location.append(i.text.strip())
    
    # scrap ratings details
    Ratings=[]
    for i in soup.find_all('div',class_="restnt-rating rating-4"):
        Ratings.append(i.text.strip())
    
    Images=[]
    for i in soup.find_all("img",class_="no-img"):
        Images.append(i.get('data-src'))

    df=pd.DataFrame({'Restaurant name':RName,'Cuisine':Cuisine,'Location':Location,'Ratings':Ratings,'Image URL':Images})
    return df

dineout("https://www.dineout.co.in/delhi-restaurants/buffet-special")

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [14]:
# Write a python program to scrape the details of top publications from Google Scholar from 
# https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank 
# ii) Publication
# iii) h5-index
#  iv) h5-median

from bs4 import BeautifulSoup
import requests
import pandas as pd

def tpgoogsch(url):

    # creating request object
    url1=requests.get(url)
    # creating soup object
    soup=BeautifulSoup(url1.content)

    # scrape rank details
    Rank=[]
    for i in soup.find_all('td',class_="gsc_mvt_p"):
        Rank.append(i.text.strip())

    # scrap pulblicaton details    
    Publication=[]
    for i in soup.find_all('td',class_="gsc_mvt_t"):
        Publication.append(i.text.strip())

    # scrap h5_index details
    h5_index=[]
    for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
        h5_index.append(i.text.strip())
    
    # scrap h5_median details
    h5_median=[]
    for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
        h5_median.append(i.text.strip())

    # create data frame with all the data
    df=pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5-index':h5_index,'h5-median':h5_median})
    return df

tpgoogsch("https://scholar.google.com/citations?view_op=top_venues&hl=en")

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]